<header class="page-header">
<h1>Admin &raquo; Dashboard</h1>
</header>

<div class="d-flex justify-content-evenly">
  <div class="card text-center w-25">
    <div class="card-header">
      <h5 class="card-title">Total products</h5>
    </div>
    <div class="card-body fs-1 fw-bold">
      <%= @total_products %>
    </div>
    <div class="card-footer">
      <%= link_to 'All Products', [:admin, :products] %>
    </div>
  </div>

  <div class="card text-center w-25">
    <div class="card-header">
      <h5 class="card-title">Total categories</h5>
    </div>
    <div class="card-body fs-1 fw-bold">
      <%= @total_categories %>
    </div>
    <div class="card-footer">
      <%= link_to 'All Categories', [:admin, :categories] %>
    </div>
  </div>

</div>